# This is a basic workflow to help you get started with Actions

name: CI/CD
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 18.x
      - name: Build node project
        run: |
          npm ci
          npm run build
      - name: Configure GitHub Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Jekyll Build
        uses: actions/jekyll-build-pages@v1.0.13
        with:
          source: ./dist/
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3.0.1
